/*@import "WEATHER.io/reset.css";*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    row-gap: 50px;
}

.head{
    width: 100%;
    height: 216px;
    padding: 40px 15px 50px;
    background: linear-gradient(97.7deg, #4ee2f0 0%, #44abe7 100%), #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-bottom: 20px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 44px;
    line-height: 1.18;
    text-align: center;
    color: #FFFFFF;
}

.form{
    display: flex;
    justify-content: space-between;
    width: 460px;
    height: 54px;
    border-radius: 6px;
    background-color: #FFFFFF;
    display: flex;
    
}

.input{
    flex-grow: 1;
    padding: 15px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    color: #000000;
}

.btn{
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #FFFFFF;

    height: 54px;
    width: 145px;
    border-radius: 6px;
    background: #c9444a;
    transition: background-color 0.3s ease-in;
    transition: color 0,5s ease-in;
}

.btn:hover{
    background: #f5313b;
}

/*card*/

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    width: 360px;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);

}

/*.card::before{
   content: "";


    position: absolute;
    
    

    display: block;
    width: 500px;
    background: #df2626;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
    border-radius: 6px;
}*/

.card_sity{
    font-size: 30px;
    font-weight: 400;
}

.card_sity span{
    display: inline-block;
    vertical-align: text-top;
    
    padding: 3px 5px;
    line-height: 1;
    border-radius: 7px;
    background: #c9444a;
    
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}

.card_weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_value {
    font-weight: 400;
    font-size: 50px;
    line-height: 1;
}

.card_image {
    width: 200x;
    height: 200px;
}

.card_description {
    font-size: 25px;
    font-weight: 400;
}

.footer{
    padding: 7px 15px 8px;
    height: 32px;
    background: #d6edf3b0;
    
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #44abe7;
}

.footer a{
    color: #44abe7;
    text-decoration: none;
}
